@using SignalRGameSetup.Logic

@{
    ViewBag.Title = "Welcome";
}

<link rel="stylesheet" href="~/Content/start-screen.css" />
<link rel="stylesheet" href="~/Content/chat.css" />




<div id="mainDiv">

    <!-- TODO Add validation so name can't be too long -->

    <div id="initialOptions">

        <div class="game-intro">
            <h1>@GameInformation.Title</h1>
            <p>
                @GameInformation.Description
            </p>
        </div>

        <p>
            <label>Please enter your name.</label>
            <div class="break"></div> <!-- break to a new row -->
            <input id="enterName" type="text" />
        </p>
        <p>
            <input type="button" id="createRoomBtn" value="Create Room" /><br />
            <input type="button" id="joinRoomBtn" value="Join Room" />
        </p>


        <div id="allowAudienceModal" class="modal">
            <span class="close" id="audienceModalClose">&times;</span>
            <p>Allow others to watch?</p>
            <input type="button" id="yesAudienceBtn" value="Yes" />
            <input type="button" id="noAudienceBtn" value="No" />
        </div>

        <div id="gameCodeModal" class="modal">
            <div id="initialGameCodeModalDisplay">
                <span class="close" id="codeModalClose">&times;</span>
                <p>Game Room Code:</p>
                <input type="text" id="gameCodeInput" />
                <input type="button" id="submitGameCodeBtn" value="Enter Room" />
            </div>
            <div id="joinOptionsDisplay">
                <input type="button" id="joinAsPlayerBtn" value="Join as Player" />
                <input type="button" id="joinAsWatcherBtn" value="Join as Watcher" />
                <span id="noSpaceAvailable">Sorry, this game room is full!</span>
            </div>

        </div>

    </div>

    <div id="waitRoom" class="container">

        <div id="upperSection">
            <div class="game-intro">
                <div id="introContainer">
                    <h1>@GameInformation.Title</h1>
                    <p>
                        @GameInformation.Description
                    </p>
                </div>
                
            </div>

            <div id="waitInfo">
                <div id="infoContainer">
                    <h2>Code: <b id="roomCode"></b></h2>
                    <button id="startGameBtn" type="button"
                            class="btn">
                        not enough players
                    </button>
                </div>
            </div>
        </div>

        
        <hr />
        

        <div id="contentSection">


            <div id="participantArea">

                <table>
                    <tr>
                        <th>
                            <div>
                                <h3>Playing</h3>
                                <span class="available">
                                    <span id="playersAvailable"></span> more can join
                                </span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <h3>Watching</h3>
                                <span class="available">
                                    <span id="watchersAvailable"></span> more can join
                                </span>
                            </div>

                        </th>
                    </tr>
                    <tr>
                        <td id="waitRoomPlayers">
                        </td>
                        <td id="waitRoomWatchers">
                        </td>
                    </tr>
                </table>




            </div>

            <div id="chatArea" class="wait-room-chat">

                <div id="chatContent">

                    <div id="chatMessages"></div>

                    <div id="addMessage">
                        <input type="text" id="messageInput" placeholder="Enter message here"
                               onkeypress="checkIfEnterPressed(event)" />
                        <input type="button" id="addMessageBtn" value="Add" />
                    </div>

                </div>

            </div>

        </div>


    </div>




</div>



@section Scripts {
    @*<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>*@
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        var clientName; // this should be accessible to any needed javascript file
        var clientId;
        var isStarter;
        var gameSetup;
        var minimumPlayers = @GameInformation.MinimumPlayers;
        /*        var chat;*/

        // Start up the hub connection for setup
        jQuery(document).ready(function ($) {
            connection = $.connection.setupHub;
            chat = $.connection.chatHub;

            // functions that happen when receiving from hub
            // creating and entering a new room
            connection.client.enterRoom = function (setup) {
                console.log('received');
                console.log(setup);
                gameSetup = setup;

                console.log(gameSetup);

                // add them to the chat group too
                addToChatGroup();

                //// create cookie for username and game code
                document.cookie = "ParticipantId=" + clientId;
                console.log("Cookie: " + document.cookie);
                document.cookie = "GameCode=" + gameSetup.GameCode;
                console.log("Cookie: " + document.cookie);

                enterWaitRoom();


            };

            connection.client.setClientId = function (id) {
                clientId = id;
                //document.cookie = "ParticipantId=" + id + "; GameCode=" + gameSetup.GameCode + ";";
                //console.log("Cookie: " + document.cookie);
            };


            connection.client.decideHowToEnter = function (setup) {
                gameSetup = setup;
                getJoinRoomOptions();
                /*        enterWaitRoom();*/
            };

            connection.client.setGameCodeBool = function (result) {
                isValidGameCode = result;
                console.log('Valid?: ' + isValidGameCode);
                decideHowToEnterProceed();
            }

            connection.client.updateGameSetup = function (setup) {
                console.log('updating setup');
                gameSetup = setup;
                updateWaitRoom();
            }

            connection.client.goToGamePage = function (setup) {
                // update the game setup
                gameSetup = setup;
                // now have everyone redirect to the game page
                window.location.href = '/Setup/GoToGame?gameCode=' + setup.GameCode +
                    '&participantId=' + clientId;
            }

            //$.connection.hub.disconnected(function () { // TODO write stuff for this
            //    console.log('disconnected');
            //    if (tryingToReconnect) {
            //        //notifyUserOfDisconnect(); // Your function to notify user.
            //    }
            //});

            // chat hub

            // add participant to chat group
            chat.client.addNewMessage = function (newMessage) {
                console.log('adding message');
                addChatMessage(newMessage.Name, newMessage.Message);
            };

            // Add message to the chat
            chat.client.addParticipantToChat = function (chat) {
                console.log('adding user');
                // show the new chat - then it should save the chat and update it for everyone else
                showChatHtml(chat.ChatHtml, chat.DoSaveAfterShow);
            };

            // load the chat
            chat.client.loadTheChat = function (chat) {
                console.log('chat loaded');
                console.log(chat);
                showChatHtml(chat.ChatHtml, chat.DoSaveAfterShow);
            }

            // start connection
            $.connection.hub.start().done(function () {
                console.log('starting');

            });

        });

    </script>
}



<script src="~/Scripts/start-screen.js"></script>
<script src="~/Scripts/chat.js"></script>